<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eventplatform">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="Activities.UserSelection">
        </activity>
        <activity android:name="Activities.egNavigation">
        </activity>


        <activity android:name="Activities.egLogin">
        </activity>
        <activity android:name="Register.egRegistration">
        </activity>
        <activity android:name="Login.eoLogin">
        </activity>
        <activity android:name="Register.eoRegistration">
        </activity>
        <activity android:name="Activities.egAccountSettings">
        </activity>
        <activity android:name="Activities.eoDisplayEvents">
        </activity>
        <activity android:name="Activities.eoMainActivity">
        </activity>

        <activity android:name="Activities.CreateEvents">
        </activity>

        <activity android:name="Activities.eoAccountSettings">
        </activity>
        <activity android:name="Activities.egDisplayEvents">
        </activity>
        <activity android:name="Activities.checkOutActivity">
        </activity>


    </application>

</manifest>